@model IEnumerable<Library.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@ViewBag.Message
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Добавить книгу", "New", "Book", null, new { @class = "btn btn-primary" })
    </div>
</div>
<hr />
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Name</td>
            <td>@book.Description</td>
            <td>@book.Price</td>
        </tr>
    }

</table>


